:root {
    --color-one: #F5F7F9;
    --color-two: #e6e1e1;
    --color-three: #16423C;
    --color-four: #6A9C89;
    --color-five: #C4DAD2;
    --color-six: #E9EFEC;
    --color-seven: #76B8EA;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: var(--color-six);
}

.form {
    border: 1px solid var(--color-three);
    width: 38%;
    text-align: center;
    margin-top: 80px;
    border-radius: 10px;
    color: var(--color-three);
    background-color: var(--color-one);
    /* height: 500px; */
    /* height: auto; */
    padding-bottom: 30px;
}

#loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 76%;
    z-index: 1;
}

.loader_design {
    font-size: 36px;
}

.input_wrapper {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    text-align: left;
}

.input {
    padding: 12px;
    width: 90%;
    border: 1px solid var(--color-five);
    border-radius: 6px;
    font-size: 12px;
    opacity: 0.6;
}

.input:focus {
    outline: none;
}

.remember_me_checkbox {
    accent-color: var(--color-three);
}

.label {
    font-size: 15px;
    margin-left: -3%;
    opacity: 0.7;
}

.checkbox_forget_password_wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    /* border: 1px solid black; */
}

#forgotPassword {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-seven);
    /* color: rgb(194, 49, 194); */
}

.width80 {
    width: 80%;
}

.btn {
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 700;
    border: 1px solid rgb(238, 236, 236);
    transition: all 0.3s;
    background-color: var(--color-three);
    color: var(--color-one);
}

.btn:hover {
    background-color: var(--color-one);
    color: var(--color-three);
    border: 1px solid var(--color-three);
}

.another_way {
    font-size: 12px;
}

.another_way_anchor {
    color: var(--color-seven);
    font-size: 12px;
}

.borderColor {
    border: 1px solid rgb(238, 236, 236);
}



.navbar {
}

.heading {
    font-size: 40px;
}

.para {
    font-size: 13px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_firebase {
    width: 30px;
    height: 30px;
}


/* dashboard start */

.dashboard_wrapper {
    text-align: center;
    width: 100%;
    height: 100vh;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content:space-around;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--color-five);
}

.heading1 {
    margin-top: 200px;
    font-size: 50px;
}

/* dashboard end */

@media (max-width: 920px) {
    .form {
        width: 65%;
    }
}

@media (max-width: 520px) {
    .form {
        width: 95%;
    }
}